*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    padding: 0 7%;
    background-position: center;
    background-size: cover;
    color: #777;
    background-image: url('images/images/background.png');
}
nav{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}
nav ul{
    flex: 1;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
}
.logo{
    width: 50px;
    cursor: pointer;
}
nav a{
    margin: 0 15px;
    text-decoration: none;
    color: #fff;            
    font-weight: bold;
}
nav a:hover{
    color: #ff960b;
}
nav .btn{
    padding: 10px 30px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.content{
    margin-top: 12%;
}

.content h1{
    font-size: 88px;
    color: #fff;
    margin-bottom: 15px;
}
.content p{
    font-size: 14px;
    line-height: 22px;
}
.content h1 span{
    color: #ff960b;
}
.content .btn{
    display: inline-block;
    margin-top: 30px;
    background: #ff960b;
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 30px;
}

