*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --background-color: #f9f9f9;
  --text-color: #ffefe6;
  --primary-color: #ff960b;
  --secondary-color: #ffffff;
  --accent-color: #ffe7c2;
  --border-color: #ddd;
  --hover-color: #ffb347;
}

.light-theme{
  --background-color: #0d0d0d;
  --text-color: #545454;
  --primary-color: #ff960b;
  --secondary-color: #1a1a1a;
  --accent-color: #2b2b2b;
  --border-color: #444;
  --hover-color: #ffa94d;
}



.container{
    width: 100%;
    height: 100vh;
    padding: 0 7%;
    background-position: center;
    background-size: cover;
    color: var(--text-color);
    background-image: url('images/images/background.png');
}
nav{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}
nav ul{
    flex: 1;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
}
.logo{
    width: 50px;
    cursor: pointer;
}
nav a{
    margin: 0 15px;
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
}
nav a:hover{
    color: var(--hover-color);
}
nav .btn{
    padding: 10px 30px;
    text-decoration: none;
    color: var(--secondary-color);
    border: 1px solid var(--border-color);
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.content{
    margin-top: 12%;
}

.content h1{
    font-size: 88px;
    color: var(--accent-color);
    margin-bottom: 15px;
}
.content p{
    color: var(--text-color);
    font-size: 14px;
    line-height: 22px;
}
.content h1 span{
    color: var(--primary-color);
}
.content .btn{
    display: inline-block;
    margin-top: 30px;
    background: var(--primary-color);
    color: var(--secondary-color);
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 30px;
}

.coin-list{
    position: absolute;
    right: 10%;
    bottom: 50px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.coin{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    padding: 20px 30px;
    border-radius: 8px;
}

.coin img{
    width: 40px;
    margin-right: 10px;
}

.coin h3{
    color: var(--secondary-color);
    margin-bottom: 5px;
}

nav .fa-sun{
    color: var(--primary-color);
    font-size: 20px;
    cursor: pointer;
}
.icon{
    cursor: pointer;
}
